.flexbox-container {
  display:flex;
  justify-content: space-evenly;
  border: 3px solid grey;
}

.flexbox-item {
  background-color: blue;
  width: 500px;
  height: 100px;
  margin: 5px;
}

.flexbox-container2 {
  display:flex;
  border: 3px solid grey;
}

.flexbox-item2 {
  background-color: blue;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.flexbox-item2-2 {
  flex-grow: 1;
}
.flexbox-item2-3 {
  flex-grow: 1;
} 