
.line-1 {
    font-size: 3rem;
    color: #c9e81a;
    font-family: 'Times New Roman', Times, serif;
}


.line-2 {
    font-size: 2rem;
    color: #e81a1a;
    font-family: 'Times New Roman', Times, serif;
}


.line-3 {
    font-size: 2rem;
    color: #3c1ae8;
    font-family: Arial;
}