<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style2.css">
    <title>Exercise 2</title>
</head>

<body>

    <header>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">Home</li>
                <li class="nav-item">About</li>
                <li class="nav-item dropdown">
                    Services
                    <ul class="dropdown-menu">
                        <li>Web Development</li>
                        <li>Mobile Apps</li>
                        <li>Digital Marketing</li>
                        <li>Consulting</li>
                        <li>Support</li>
                    </ul>
                </li>
                <li class="nav-item">Portfolio</li>
                <li class="nav-item">Blog</li>
                <li class="nav-item">Contact</li>
                <li class="nav-item nav-right">Account</li>
                <li class="nav-item">Cart(2)</li>
            </ul>
        </nav>
    </header>

    <div class="container">

        <main>
            <article class="content">
                <h2 class="content-title">Welcome to the Holy Grail Layout</h2>
                <p class="content-text">This is where your primary page content goes.</p>
            </article>
        </main>

    </div>


</body>

</html>